esercizi_picchi655928/esercizio5.dtd

<!--Definire i seguenti elementi: elemento root: TEI elementi figli: header (obbligatorio una occorrenza) 
facsimile (opzionale una occorrenza) text (obbligatorio almeno una occorrenza) Gli elementi header, facsimile 
e text hanno tutti un content model testuale
-->

<!-- Definizione dell'elemento root e dei suoi figli -->
<!ELEMENT TEI (header, facsimile?, text+)>

<!-- Definizione del content model testuale (#PCDATA) per i figli -->
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT text (#PCDATA)>