esercizi_Ricciardi/2/schema_def_2.dtd

<!--root: TEI
Figli:
- header(obbligatorio una volta sola)
- facsimile(opzionale una volta sola)
- testo(obbligatorio una o pi`u volte)
* testo `e un mixed content con possibile elemento <seg>
Attributi:
- header: type:(fixed, CDATA “intestazione”); lang(opzionale,
NMTOKEN)
- facsimile: source:(obbligatorio); ref(optionale, IDREFS)
- testo: id(obbligatorio, ID) type(opzionale contenuto testuale)-->

<!ELEMENT TEI (header, facsimile?, testo+)>
<!ELEMENT header (#PCDATA)>
<!ELEMENT facsimile (#PCDATA)>
<!ELEMENT testo (#PCDATA | seg)*>
<!ELEMENT seg (#PCDATA)>

<!ATTLIST header type CDATA #FIXED "intestazione">
<!ATTLIST header lang NMTOKEN #IMPLIED>
<!ATTLIST facsimile source CDATA #REQUIRED> <!-- Ho presunto che source fosse CDATA-->
<!ATTLIST facsimile ref IDREFS #IMPLIED>
<!ATTLIST testo id ID #REQUIRED>
<!ATTLIST testo type CDATA #IMPLIED>